.App {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    transform: translate(-50%, -50%);
}

.topbar {
    position: fixed;

    width: 100%;
    height: 10vh;

    z-index: 2;

    background-color: #444;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 2vw 1vw #000; 
}

.content {
    position: relative;
    top: 10vh;
    
    width: 100%;
    min-height: 70vh;
    
    z-index: 1;

    background-color: #444;
    box-shadow: 0 0 2vw 1vw #0008;
    display: flex; 
    flex-direction: column; 
}

.footer {
    position: relative;

    width: 100%;
    height: 20vh;

    top: 10vh;

    z-index: 2;

    background-color: #222;
    box-shadow: 0 0 2vw 1vw #000;
}