@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.panel-button-holder {
    position: absolute;

    width: 25%;
    aspect-ratio: 5/2;

    left: 72%;
    top: 70%;

    container-type: inline-size;
}

.panel-button-holder button {
    position: relative;

    height: 100%;
    width: 100%;

    background: #7fa;
    background: linear-gradient(#7fa 0%, #0f2 25%, #092 100%);

    border-radius: 2vw;

    font-size: 5dvw;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 0.75em;
    color: white;
    text-shadow: 0 0 1em #fff;

    border-color: #0000;
    border-width: 0.35vw;
    border-style: solid;

    box-shadow: 0px 0px 1em 0 #000a;
    transform: translateZ(-900px);

    transition: 0.1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1.5);
}

.panel-button-holder :hover {
    scale: 1.025;
    box-shadow: 0px 2px 1em 0 #7777;
    border-color: #fffa;
}

.panel-button-holder :active {
    transition: 0.05s;
    transition-timing-function: cubic-bezier(0, 1, 0.4, 1);
    box-shadow: 0px 0px 1.5em 0 #000a;
    scale: 0.95;
}

@media only screen and (min-width: 800px) {
    .panel-button-holder button {
        border-radius: 15px;
        border-width: 3px;
        font-size: 40px;
    }
}